@page "/subcategories/create/{CategoryId:int}"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")]

<h3>Crear Subcategoría</h3>

<SubCategoryFrom @ref="subCategoryFrom" SubCategory="subCategory" OnValidSubmit="CreateAsync" RetunrAction="Return" />


@code {
    private SubCategory subCategory = new();
    private SubCategoryFrom? subCategoryFrom;

    [Parameter]
    public int CategoryId { get; set; }
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;


    private async Task CreateAsync()
    {

        subCategory.CategoryId = CategoryId;
        var responseHttp = await repository.Post("/api/subcategories", subCategory);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }


        await BlazoredModal.CloseAsync(ModalResult.Ok());
        Return();
    }



    private void Return()
    {
        subCategoryFrom!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo($"/categories/details/{CategoryId}");
    }
}
